/* media queries */
body {
  background-color: #E2DBBE
}

@media screen and (min-width: 768px) {
    .resize-image {
        width: 100%;
        height: 400px;
    }
    .panel-height {
        height: 600px;
    }
}

.resize-image {
    width: 100%;
    max-width: 350px;
}

.panel-height {
    max-height: 750px;
}

.spacing {
    margin: 35px;
}
